<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastrar Compromisso</title>
  <link rel="icon" href="/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/nav.css" />
  <link rel="stylesheet" href="/footer.css" />
</head>
<body>
  <div class="container">
    <div class="header">
       <h3>Olá, <%= user %>! <a href="/logout">Logout</a></h3>
    </div>
    <form class="form" method="POST" action="/calendar/add">
      <h1>Cadastrar Compromisso</h1>
      <label for="date">Data:</label>
      <input type="date" name="date" id="date" required>
      <label for="type">Tipo:</label>
      <select name="type_envent" id="type_envent" required>
        <option value="Atendimento">Atendimento</option>
        <option value="Pregação">Pregação</option>
        <option value="Família">Família</option>
        <option value="Reunião">Reunião</option>
        <option value="Férias">Férias</option>
        <option value="Educação">Educação</option>
      </select>
      <label for="pastor">Obreiro(a):</label>
      <select name="pastor" id="pastor" required>
        <option value="<%= user %>" selected><%= user %></option>
        <% pastors.forEach(name_pastor => { %>
          <option value="<%= name_pastor %>"
            <%= pastors === name_pastor ? 'selected' : '' %>>
            <%= name_pastor %>
          </option>
        <% }) %>
      </select>
      <label for="church">Local:</label>
        <select name="church" id="church">
          <option value="" disabled>Selecione o local</option>
          <% churches.forEach(name_church => { %>
            <option value="<%= name_church %>"
              <%= churches === name_church ? 'selected' : '' %>>
              <%= name_church %>
            </option>
          <% }) %>
        </select>
      <input type="text" name="observation" id="observation" placeholder="Observação" />
      <div id="form-buttons">
        <button type="submit" id="submit-btn">Adicionar</button>
      </div>
    </form>
  </div>
  <%- include('partials/nav') %>
</body>
</html>
