<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendário</title>
  <link rel="icon" href="/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/nav.css" />
  <link rel="stylesheet" href="/footer.css" />
</head>
<style>
  a {
    text-decoration: none;
  }
</style>
<body>
  <div class="container">
<div class="container">
  <% events.forEach(function(event) { %>
    <article class="event-card">
      <%
          const iso = event.date.split('T')[0];
          const [y, m, d] = iso.split('-');
          const dataFormatted = `${d}/${m}/${y}`;   
      %>
      <header>
        <h2><%= event.type_envent %> - <%= dataFormatted %></h2>
      </header>
      <dl>
        <div>
          <dt><b>Obreiro(a):</b> <%= event.pastor %></dt>
        </div>
        <div>
          <dt><b>Distrito:</b> <%= event.church %></dt>
        </div>
        <div>
          <dt><b>Observação:</b> <%= event.observation %></dt>
        </div>
        <div>
          <dt>
              <a href="/calendar/eventos/edit/<%= event.id %>">✏️ Editar</a> - 
              <a href="/calendar/eventos/delete/<%= event.id %>" onclick="return confirm('Tem certeza que deseja excluir este evento?');"> ❌ Excluir </a>
          </dt>
        </div>
      </dl>
    </article>
    <hr>
  <% }) %>
</div>
  </div>
<%- include('partials/nav') %>
</body>
</html>
